header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

header .container {
    position: relative;
    z-index: 100;
    text-shadow: #000000 1px 0 10px;
}

@media only screen and (max-width: 1024px) {
    #myVideo {
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
}