{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}
    <header>
        <!-- The video -->
        <section class="fullsize-video-bg">
            <div class="video-background-holder">
                <div class="video-background-overlay"></div>
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                </video>
                <div class="video-background-content container h-100">
                    <div class="d-flex h-100 text-center align-items-center">
                        <div class="w-100 text-white">
                            <h1 class="display-1">SnowTricks</h1>
                            <p class="lead mb-0">a way to Freedom</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section class="tricks">
        <div class="container pt-5">
            <div class="row d-flex justify-content-center" >
                {% for trick in tricks %}
                    {% for Image in trick.Images|slice(0,1) %}
                <div class="col-lg-2 col-md-12 mb-3 pb-3">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src=" {{ Image.path }}" alt="..." />
                        <div class="card-body p-2 ">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2"></div>
                        </div>
                        <div class="card-footer p-2 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <a href="{{ path('trick_details',{'id': trick.id }) }}" class="btn btn-primary">
                                            <div class="card-title mb-1">{{ trick.name }}</div></a>
                                        <div class="fw-bold"></div>
                                        <div class="text-muted">{{ trick.createdAt | date('d/m/Y') }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}
